@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');



.disable-zoom {
    touch-action: manipulation;
    font-family: 'Roboto Mono', monospace;
}


.btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 20ms linear;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}
    .btn3d:active:focus,
    .btn3d:focus:hover,
    .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
}

    .btn3d:active,
    .btn3d.active {
    top: 2px;
}
    .btn3d.btn-success {
    box-shadow: 0 0 0 1px #7a62b5 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #584c8e, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #7a62b5;
}

    .btn3d.btn-success:active,
    .btn3d.btn-success.active {
    box-shadow: 0 0 0 1px #7a62b5 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #7a62b5;
}

    .btn3d.btn-primary {
    box-shadow: 0 0 0 1px #9078b3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #8069a0, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #9d84c3;
}

    .btn3d.btn-primary:active,
    .btn3d.btn-primary.active {
    box-shadow: 0 0 0 1px #9d84c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #9d84c3;
}
    .btn3d.btn-danger {
    box-shadow: 0 0 0 1px #4a2375 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4a2772, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #63398f;
}

    .btn3d.btn-danger:active,
    .btn3d.btn-danger.active {
    box-shadow: 0 0 0 1px #4a2375 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #63398f;
}

.sidebtn{
    background-color: #a17ed2; 
    border: 2px solid #6e609f;
    color: #f0d9ff !important;
}

.sidebtn:hover,
.sidebtn:focus {
    background-color: #9771cc !important;
    border: 2px solid #6e609f !important;
    color: #f0d9ff !important;
}
.sidebtn:active,
.sidebtn.active{
    background-color: #9068c7 !important;
    border: 2px solid #6e609f !important;
    color: #f0d9ff !important;
}

.resborder{
    border: solid 3px #6e609f !important;
    border-radius: 15px !important;
    text-align: center !important;
}

.startbtn{
    background-color: #a17ed2 !important;
    border: 2px solid #6e609f !important;
    width: 30vw !important;
    color: #f0d9ff !important;
    font-size: 120% !important;
}

.btnstl {
        color: #1f0e34;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.title{
    color:#a17ed2;
}

.pars{
    color:#30183d;
    font-size: large;
}

.res{
    color: #30183d;
}
.dropdown-menu-dark {
    --bs-dropdown-bg: #a17ed2;
}
